@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.graf1, .graf2, .graf3, .graf4 {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 3s;
}

@keyframes maskTransition {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
