* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(231, 231, 231, 1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#app {
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.mirrors-container {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    margin-top: 140px;
}

.mirror {
    max-width: 30%;
    height: auto;
}